.app1{
  display: grid;
  place-items: center;
  background-color: #090d1c;
  height: 100vh;
}
.app{
  display: grid;
  place-items: center;
  background-color: #090d1c;
  height: 100vh;
  position: relative; /* Make the positioning context for absolute positioning */
}
.tf{
  color: orange !important;
}
.roomname{
  color: white;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  box-shadow: -1px 4px 20px -6px rgba(50, 56, 123, 0.7);
  background-color: #090d1c;
}
.roomname > button{
  margin-top: 3%;
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 600px) {
  .app1{
    display: grid;
    place-items: center;
    height: 100vh;
  }
  .roomname{
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    box-shadow: -1px 4px 20px -6px rgba(50, 56, 123, 0.7);
    background-color: #090d1c;
  }
  .roomname > button{
    margin-top: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}